{% extends "shop/player_base.html" %}
{% block content %}

    <div class="columns">
        <div class="column">
            <h1 class="title">Catalog</h1>
            {% for game in games %}
                <div class="box">
                    <div class="content">
                        <p class="title is-medium">{{ game.title }}</p>
                        <p class="subtitle is-small">Built by {{ game.developer }}</p>
                        <a class="button is-info is-medium" href="{% url 'shop:game_info' game.id %}">Add to cart</a>
                        <div class="title is-pulled-right">{{ game.price }}$</div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>


{% endblock content %}