{% extends "shop/base.html" %}

{% block content %}

<div class="columns">
      <div class="column ">
          <div  style="margin-left:20px; color:red">
             {% if error %}
              <h2>{{ error }}</h2>
           {% endif %}
        </div>
          <nav class="panel">
            <p class="panel-heading" style="text-align:center">
            <span><strong>Registration Form</strong></span>
            </p>


              <div class="panel-block">
                   <form class="control" action="{% url 'shop:create' %}" method="post">
                          {% csrf_token %}
                          <div class="field">
                              <label class="label">Username</label>
                             <div class="control has-icons-left has-icons-right">
                                  <input class="input" placeholder="Username" type="text" name="username"/>
                                 <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                  </span>
                                  <span class="icon is-small is-right">
                                    <i class="fas fa-check"></i>
                                  </span>
                              </div>
                          </div>
                          <div class="field">
                              <label class="label">Email</label>
                             <div class="control has-icons-left has-icons-right">
                                  <input class="input" placeholder="Email" type="email" name="email"/>
                                 <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                  </span>
                                  <span class="icon is-small is-right">
                                    <i class="fas fa-exclamation-triangle"></i>
                                  </span>
                              </div>
                          </div>
                          <div class="field">
                              <label class="label">Password</label>
                              <div class="control has-icons-left">
                                  <input class="input" placeholder="Password" type="password" name="password">
                                   <span class="icon is-small is-left">
                                   <i class="fas fa-lock"></i>
                                  </span>
                              </div>
                          </div>
                          <div class="field">
                              <p class="control">
                                  <button class="button is-success" type="submit" value="Signup">Signup</button>
                              </p>
                          </div>
                          <label class="checkbox">
                              <input type="checkbox" id="developer_checkbox" name="developer" value="developer"/>
                              Are you a developer?
                          </label>
                      </form>
                    </div>
          </nav>
      </div>
  </div>

{% endblock content %}
